body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

.container {
  margin: 40px auto;
  text-align: center;
}

.header {
  text-align: center;
  background-color: #CC0000;
  color: #FFFFFF;
  padding: 3vh 0;
  box-shadow: 0 10px 5px lightgray;
}

.header h1 {
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.message {
  border: 1px solid #CC0000;
  border-radius: 5px;
  box-shadow: 2px 2px lightgray;
  padding: 10px 0;
}

.playerBackground {
  background-color: rgba(0,127,8,0.3);
}

.enemyBackground {
  background-color: rgba(204,0,0,0.3)
}

.robotChoicesArea {
  display: flex;
  justify-content: space-between;
}

.robotCard {
  font-size: 12px;
  line-height: .9em;
  border: 1px solid gray;
}

.robotCard:hover {
  background-color: green;
  color: white;
}

.card-title {
  font-weight: bolder;
  font-size: 14px;
}

.robotCardImage {
  height: 100px;
  width: 100px;
}

.robotTitle {
  font-size: 20px;
  font-weight: bolder;
}

.mainSubSection {
  margin-top: 20px;
}

.fightImage {
  max-width: 100%;
  height: 240px;
  width: auto;
  height: auto;
  display: block;
}

.progressbar {
}

.footer {
  text-align: center;
  background-color: #CC0000;
  color: #FFFFFF;
  padding: 40px 0;
  position: sticky;
  margin-top: 100px;
}

/* Auto Resize images
/*img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}*/
